<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./modal.css" />
  </head>
  <body>
    <!-- placing order -->
    <div id="submitdiv">
      <button id="myBtn">COMPLETE ORDER</button>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Your Order placed Successfully.</p>
          <p>
            We will keep you informed to your registered mail id for any further
            updates on your order.
          </p>
          <p>Enjoy your food! 😊</p>
        </div>
      </div>
    </div>
  </body>
  <script src="./modal.js"></script>
</html>
