#container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
}
#container>div{
    height: 470px;
    width: 400px;
    border: 1px solid black;
}
.box{
    width : 25%;
    margin:10px;
    padding :auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius : 15px;
}
.tc{
    text-align: center;
    color: red;
}
.avtar{
    width: 100%;
    border-radius : 15px;
    border-top: 0px;
}
.para{
    text-align: center;
}






   /* <head>


       <title> Strategic Investors</title>


       <style>


       #parentBox{


           display : flex;


          


       }


       .box{
           width : 25%;
           margin:10px;
           padding :auto;
           box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
           rgba(0, 0, 0, 0.23) 0px 3px 6px;
           border-radius : 15px;
       }
       .tc{
           text-align: center;
       }
       .avtar{
           width: 100%;
           border-radius : 15px;
           border-top: 0px;
       }


       .logo{


           width : 140px;


           display :block;


           margin : auto;


       }


       p{


           margin: 0 -20px;


       }


       h1{


           text-align: center;


           margin: 30px 20px;


           font-family: Arial, Helvetica, sans-serif;


           font-weight: 5000px;


       } */


           /* </style>

   </head>
   <body>
       <h1> Strategic Investors</h1>
       <div id = "parentBox">
           <div class = "box">
               <img
               class = "avtar"
                src = "https://masai-website-images.s3.ap-south-1.amazonaws.com/Vijay_Shekhar_Sharma_Paytm_96f52579b8.jpg" alt = "vijay shekhar sharma">
               <h3 class = "tc"> Vijay Shekhar Sharma</h3>
               <p class = "tc" > Founder & CEO </p>
               <img
               class = "logo"
               src = "https://masai-website-images.s3.ap-south-1.amazonaws.com/paytm_rect_06df45a24f.svg" alt = "paytm logo"
           </div>
           <div class = "box">
               <img
               class = "avtar"
               src = "https://masai-website-images.s3.ap-south-1.amazonaws.com/Rectangle_427_637d69bb57.png" alt = "kunal shah">
               <h3 class = "tc"> Kunal Shah </h3>
               <p class = "tc"> Founder</p>
               <img
               class = "logo"
               src = "https://masai-website-images.s3.ap-south-1.amazonaws.com/cred_0a47d7b4f8.png" alt = "cred logo">
           </div>


           <div class = "box">


               <img


               class = "avtar"


                src = "https://masai-website-images.s3.ap-south-1.amazonaws.com/amrish_rau_pine_labs_144e5e587c.jpg" alt = "Amrish rau">


               <h3 class = "tc"> Amrish Rau </h3>


               <p class = "tc"> CEO </p>


               <img


               class = "logo"


               src = "https://masai-website-images.s3.ap-south-1.amazonaws.com/pine_labs_0aa2407434.png" alt = "pins lab">







           </div>


           <div class = "box">


               <img


               class = "avtar"


                src = "https://masai-website-images.s3.ap-south-1.amazonaws.com/Sampad_swain_Instamojo_f12bf6341e.jpg" alt = "Sampad Swain">


               <h3 class = "tc"> Sampad Swain</h3>


               <p class = "tc"> Co-Founder & CEO </p>


               <img


               class = "logo"


               src = "https://masai-website-images.s3.ap-south-1.amazonaws.com/instamojo_8763e704f7.png" alt = "instamojo">







           </div>


       </div>


   </body>


</html> */

