#container{
    border: 0px solid rgba(224,7,7);
    box-shadow: rgba(0 , 0 , 0 , 0.24) 0px 3px 8px;
    height: 700px;
    width: 35%;
    margin: auto;
    margin-top: 30px;
}
#form{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
#heading{
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgba(245,236,236);
}
#container>h2{
    display:flex;
    justify-content: center;
    margin-top: -25px;
    cursor: pointer;
    margin-left: 30px;
}
input{
    padding-left: 10px;
    width: 100%;
    border-radius: px;
    border: 1px solid slategrey;
    height: 20px;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}

.btn{
    border-radius: 15px;
    height: 28px;
    border: none;
}
.link{
    font-size: 13px;
}
p{
font-size: 12px;
}
#check{
    display: flex;
    position: absolute;
    left: 0;
}